name: Build, Push to Docker Hub & Deploy to DOKS

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout 
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        # list of Docker images to use as base name for tags
        images: |
          ${{ secrets.DOCKERHUB_USERNAME }}/hello-python
        # generate Docker tags based on the following events/attributes
        tags: |
          type=schedule,pattern={{date 'YYYYMMDD-hhmmss' tz='Asia/Kolkata'}}
          type=ref,event=branch
          type=ref,event=branch,pattern={{date 'YYYYMMDD-hhmmss' tz='Asia/Kolkata'}}
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}
          type=sha
          type=raw,value=latest,enable={{is_default_branch}}
          type=raw,value={{date 'YYYYMMDD-HHmmss' tz='Asia/Kolkata'}}

    # 2. Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 3. Build & Push Docker Image
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/arm64,linux/amd64
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}